{% extends 'consultorio/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% if form.instance.pk %}Editar{% else %}Agregar{% endif %} Paciente{% endblock %}

{% block content %}
    <h2>{% if form.instance.pk %}Editar{% else %}Agregar{% endif %} Paciente</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'consultorio:paciente_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}
