{% extends 'consultorio/base.html' %}

{% block title %}Detalles del Psicólogo{% endblock %}

{% block content %}
    <h2>Detalles del Psicólogo</h2>
    <p><strong>Nombre:</strong> {{ psicologo.nombre }}</p>
    <p><strong>Apellido:</strong> {{ psicologo.apellido }}</p>
    <p><strong>Especialidad:</strong> {{ psicologo.especialidad }}</p>
    <p><strong>Email:</strong> {{ psicologo.email }}</p>
    <p><strong>Teléfono:</strong> {{ psicologo.telefono }}</p>
    <p><strong>Fecha de Contratación:</strong> {{ psicologo.fecha_contratacion }}</p>
    <p><strong>Salario:</strong> {{ psicologo.salario }}</p>
    <p><strong>Licencia de Colegiado:</strong> {{ psicologo.licencia_colegiado }}</p>
    <p><strong>Enfoque Terapéutico:</strong> {{ psicologo.enfoque_terapeutico }}</p>
    <a href="{% url 'consultorio:psicologo_update' psicologo.pk %}" class="btn btn-secondary">Editar</a>
    <a href="{% url 'consultorio:psicologo_delete' psicologo.pk %}" class="btn btn-danger">Eliminar</a>
    <a href="{% url 'consultorio:psicologo_list' %}" class="btn btn-primary">Volver a la Lista</a>
{% endblock %}
